/* app.component.css */
.example-container {
  height: 100vh;
}

.content {
  padding: 16px;
}

.mat-icon {
  margin-right: 8px;
}

.active-link {
  font-weight: bold;
  color: blue;
}
.active-link {
  background-color: rgba(0, 0, 0, 0.1); /* Example: Highlight active link */
}
