/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
  --backgroud-color-primary : #0bbd3b;
  --background-color-main: #FFFFFF;
}
a{
  text-decoration: none;
}
